* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Noto Serif', serif;
    background: #04dbfb;
    color: snow;
}

h2 {
    font-size: 5rem;
    font-weight: bold;
    padding: 3rem;
}

.coming-soon {
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.countdown {
    display: flex;
    justify-content: space-around;
    text-align: center;
}

.day,
.hour,
.minute,
.second {
    font-size: 3rem;
}

img {
    padding-top: 50px;
    height: 60vh;
    width: 60vh;
}